.nav{
  padding: 10px;
  
}
nav a{
  
  text-decoration: none;
  
}
nav{
  background-color: greenyellow;
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
}
.box{
  height: 100px;
  width:100px;
  background-color: lightgreen;
  padding: 5px;margin: 5px;
 }
 #box3{
  flex-grow: 3;
  flex-shrink: 3;

 }
 #box4{
  height: 50px;
  width: 50px;

 
}
  @media screen  and (min-width: 300px) and (max-width:400px){
    #box4{
     background-color:red;
    }
  }
  @media screen and (min-width:400px){
    #box4{
      background-color:blue ;
    }
  }
  
 
 img{
  height: 100px;
  width: 100px;
  
}
#image_container{
  height: 300px;
  width: 300px;
  border: 2px black solid;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #box_container{
  height: 300px;
  width: 400px;
  border: 2px black solid;
  display: flex;
 }
 